## Data modelling

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#load data
df = pd.read_csv('../data/cleaned/data_without_outlier.csv')

df

,bedrooms,bathrooms,sqft_above,floors,sqft_lot15,sqft_living15,sqft_basement,waterfront,view,condition,grade,yr_built_cat,price
0,3.0,1.00,3.712993,1.0,552.975638,5.283450,2.753298,0,0,3,7,1,221900
1,3.0,2.25,3.845177,2.0,680.808061,5.402655,2.602060,0,0,3,7,1,538000
2,2.0,1.00,3.609968,1.0,706.577328,5.639440,2.753298,0,0,3,6,1,180000
3,4.0,3.00,3.685715,1.0,508.270898,5.291135,2.959041,0,0,5,7,1,604000
4,3.0,2.00,3.791662,1.0,672.429043,5.434618,2.753298,0,0,3,8,1,510000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18010,3.0,2.50,3.771390,3.0,222.173922,5.351869,2.753298,0,0,3,9,1,735000
18011,4.0,2.50,3.857826,2.0,653.588512,5.442967,2.753298,0,1,3,8,1,536000
18012,2.0,0.75,3.678839,2.0,270.621885,5.140055,2.753298,0,0,3,7,1,575000
18013,3.0,2.50,3.781136,2.0,198.999077,5.309821,2.753298,0,0,3,6,1,500000
18014,2.0,0.75,3.678839,2.0,206.432081,5.140055,2.753298,0,0,4,8,1,285500

In [3]:
#define data
X = df.drop(['price'], axis=1)
y = df['price']

In [5]:
X.head()

,bedrooms,bathrooms,sqft_above,floors,sqft_lot15,sqft_living15,sqft_basement,waterfront,view,condition,grade,yr_built_cat
0,3.0,1.00,3.712993,1.0,552.975638,5.283450,2.753298,0,0,3,7,1
1,3.0,2.25,3.845177,2.0,680.808061,5.402655,2.602060,0,0,3,7,1
2,2.0,1.00,3.609968,1.0,706.577328,5.639440,2.753298,0,0,3,6,1
3,4.0,3.00,3.685715,1.0,508.270898,5.291135,2.959041,0,0,5,7,1
4,3.0,2.00,3.791662,1.0,672.429043,5.434618,2.753298,0,0,3,8,1

Now we are going to split the data into train and test set using sklearn, with test_size =0.2, and a random_state=42

In [4]:
#split data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2,
                                                    random_state=42)

After our split,we will first convert to a datafram, ensure to minmax scale to reduce range of our training and test set before we fit our model

In [6]:
#convert train and test data to dataframe
X_train_df = pd.DataFrame(X_train, columns=X.columns)
X_test_df = pd.DataFrame(X_test, columns=X.columns)

In [8]:
#now to scale the data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

scaler.fit(X_train_df)

MinMaxScaler()

In [9]:
#save the scaler
import pickle
path="../scalers/"
scaler_file_name= "min_max_scaler_without_outliers.pkl"

with open(path + scaler_file_name, 'wb') as file:
    pickle.dump(scaler, file)

In [10]:
#transform the data
X_train_scaled = scaler.transform(X_train_df)
X_test_scaled = scaler.transform(X_test_df)

#convert the scaled data to dataframe
X_train_scaled_df = pd.DataFrame(X_train_scaled, columns=X.columns)
X_test_scaled_df = pd.DataFrame(X_test_scaled, columns=X.columns)

In [11]:
X_train_scaled_df.head()

,bedrooms,bathrooms,sqft_above,floors,sqft_lot15,sqft_living15,sqft_basement,waterfront,view,condition,grade,yr_built_cat
0,0.333333,0.363636,0.526659,0.0,0.489276,0.628544,0.816959,0.0,0.5,0.50,0.4,0.0
1,0.333333,0.636364,0.904869,0.4,0.606296,0.859220,0.816959,0.0,0.0,0.75,0.4,0.0
2,0.666667,0.636364,0.880334,0.4,0.419217,0.895810,0.816959,0.0,0.0,0.75,0.3,0.0
3,0.333333,0.636364,0.698696,0.4,0.641971,0.557320,0.816959,0.0,0.0,0.50,0.4,0.0
4,0.666667,1.000000,0.919853,0.4,0.743232,0.936358,0.989620,0.0,0.0,0.50,0.4,0.0

In [12]:
X_train_scaled_df.describe().T

,count,mean,std,min,25%,50%,75%,max
bedrooms,14412.0,0.426820,0.259328,0.0,0.333333,0.333333,0.666667,1.0
bathrooms,14412.0,0.457952,0.241979,0.0,0.272727,0.454545,0.636364,1.0
sqft_above,14412.0,0.606693,0.177644,0.0,0.477632,0.597093,0.738608,1.0
floors,14412.0,0.190966,0.217693,0.0,0.000000,0.000000,0.400000,1.0
sqft_lot15,14412.0,0.470343,0.186322,0.0,0.353298,0.488698,0.587104,1.0
sqft_living15,14412.0,0.611469,0.161748,0.0,0.498499,0.606943,0.727031,1.0
sqft_basement,14412.0,0.816692,0.076821,0.0,0.816959,0.816959,0.816959,1.0
waterfront,14412.0,0.007979,0.088974,0.0,0.000000,0.000000,0.000000,1.0
view,14412.0,0.060592,0.194407,0.0,0.000000,0.000000,0.000000,1.0
condition,14412.0,0.611678,0.167564,0.0,0.500000,0.500000,0.750000,1.0
grade,14412.0,0.459124,0.116327,0.0,0.400000,0.400000,0.500000,1.0
yr_built_cat,14412.0,0.103109,0.216148,0.0,0.000000,0.000000,0.000000,1.0

Now to build the model, we will use Linear regression because we are meant to predict price of the real estate .
Linear regression is great for price prediction as it predicts numerical values

In [ ]:
#now to build the model
from sklearn.linear_model import LinearRegression